/* непонятный статус 
.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}
*/

body {line-height:1.6;}

#top .social {letter-spacing:5px;}

#top {background-color:#e4edee;}

#top a:not(:last-child) {margin-right:15px;}

#top p {font-size:15px;}

#footer {color:#4d4b4b;background-color:#e4edee;}
#copyright {padding:30px 0;color:#bef5fb;background-color:#4bbfcc;font-size:13px;line-height:1.6;}
#copyright p:not(:last-child) {margin-bottom:17px;}

.navbar-brand {margin-top:5px;}

.fa-2x {font-size:25px;line-height:31px;}

.col-xs-5 {width:auto;line-height:31px;}
.col-xs-7 {width:130px;float:right;}
