/* непонятный статус 
.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}
*/

#top .social {letter-spacing:5px;}

#top {line-height:31px;background-color:#e4edee;}

#top a:not(:last-child) {margin-right:15px;}

#footer {color:#4d4b4b;background-color:#e4edee;}
#copyright {color:#bef5fb;background-color:#4bbfcc;}

.navbar-brand {margin-top:5px;}

.fa-2x {font-size:25px;line-height:31px;}

.col-xs-5 {width:auto;}
.col-xs-7 {width:130px;float:right;}
